# Ignore Mac system files
.DS_store

# Ignore Obsidian Files
.obsidian
.obsidian/themes
.trash

# Ignore Certain Folders

Other/

# Coding Stuff
.vscode
.eslint
.prettierrc
/.idea/
/scripts/
/templates/
/WorldsWithoutNumber_FreePDF_040221.pdf
/WWN_Character_Sheet_031521.pdf
